* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

/* Start header */

header {
    display: flex;
    height: 50px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

/* Menu dashboard */

header > .menu-dashboard {
    font-size: 22px;
    margin-left: 30px;
    color: #555;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50%;
}

header > .menu-dashboard:hover {
    background-color: #ccc;
}

/* logo */

header > .item > a > img {
    height: 50px;
    margin-top: 5px;
}

/* seach */

header > .search {
    margin-left: 100px;
    margin-top: 10px;
    display: flex;
}

header > .search > input {
    padding: 7px 15px;
    font-size: 16px;
    outline: 0;
    border: 1px solid #ddd;
    border-radius: 20px 0 0 20px;
    width: 400px;
    border-right: none;
    background-color: #eee;
    color: #555;
}

header > .search > button {
    color: white;
    padding: 5px 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    border-left: none;
    background-color: #eee;
}

header > .search > input:focus, header > .search > button:focus{
    background-color: white;
}

/* End header */