* {
    margin: 0;
    padding: 0;
}

/* Start Xóa banner */

header > .banner {
    display: none !important;
}

/* End Xóa banner */

/* Nội dung trang */

.home {
    display: flex;
    flex-flow: row;
    box-sizing: border-box;
}

/* Start menu chức năng */

.home > .menu {
    width: 20%;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
    margin: 10px 0;
}

/* tạo hàng */

.home > .menu > .row {
    width: 100%;
}

/* Phần bài đăng mới  */

.home > .menu > .row > .new-posts {
    text-transform: uppercase;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 15px 15px;
    text-align: center;
    color: #777;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 0 5px 1px #ccc;
    transition: 0.5s;
}

.home > .menu > .row > .new-posts:hover {
    color: #e94b00;
}

.home > .menu > .row > .new-posts > i {
    color: #e94b00;
    padding-right: 5px;
}

/* Phần list danh sách menu */

.home > .menu > .list {
    width: 100%;
}

.home > .menu > .list > ul {
    list-style: none;
    border-top: 1px solid #ccc;
    margin: 20px;
    margin-bottom: 0;
}

.home > .menu > .list > ul > li {
    width: 100%;
    display: grid;
}

.home > .menu > .list > ul > li > a {
    padding: 15px 20px;
    color: #505457;
    font-size: 18px;
    line-height: 24px;
}

.home > .menu > .list > ul > li > a.select {
    color: #e94b00;
}

.home > .menu > .list > ul > li > a:hover {
    background-color: #eceff1;
}

.home > .menu > .list > ul > li > a > i {
    padding-right: 10px;
}

/* end menu chức năng */

/* Start Phần Nội dung */

.home > .container {
    width: 80%;
    box-sizing: border-box;
}