*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page-member {
    padding: 30px 20px;
}

.page-member > .head-member {

}

.page-member > .head-member > .search {
    width: 400px;
    max-width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
}

.page-member > .head-member > .search > input {
    width: 100%;
    padding: 10px 15px;
    font-size: 18px;
    outline: 0;
    border: none;
    border-bottom: 1px solid orange;
    color: #333;
}

.page-member > .head-member > .search > label {
    border-bottom: 1px solid orange;
    color: #333;
    cursor: pointer;
    padding: 5px;
}

.page-member > .head-member > .search > label > i {
    border-radius: 50px;
    padding: 10px;
    font-size: 20px;
}

.page-member > .head-member > .search > label > i:hover {
    background-color: #eee;
}

.page-member > .head-member > .search > .line {
    width: 0;
    height: 1px;
    background-color: orange;
    position: absolute;
    bottom: -1px;
}

/* item */
.page-member > .body-member {
    margin-top: 40px;
}

.page-member > .body-member > .item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    box-sizing: border-box;
}

.page-member > .body-member > .item:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 5px 5px #eee;
}

.page-member > .body-member > .item:hover > .author > .container > .member-edit > i {
    display: block;
    
}
.page-member > .body-member > .item > .author {
    font-size: 20px;
    color: #444;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: space-between;
}
.page-member > .body-member > .item > .author > .container > .member-edit{
    display: flex;

}
.page-member > .body-member > .item > .author > .container > .member-edit > i {
    margin-right: 15px;
    border-radius: 40px;
    padding: 7px;
    font-size: 24px;
    display: none;
}

.page-member > .body-member > .item > .author > .container >.member-edit > i:hover {
    background-color: #eee;
}

.page-member > .body-member > .item > .author > .container.setting-post {
    display: block;
}
.page-member > .body-member > .item > .author > .container.setting-post > .grade{
    display: block;
    margin-left: 20px;
    margin-bottom: 5px;
}

.page-member > .body-member > .item:hover > .author > .container.setting-post {
    display: flex;
    flex-direction: column;    
}

/* Nút checkbox */

.page-member .check {
    border: 2px solid #777;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: #777;
    color: white;
    cursor: pointer;
    align-self: center;
    margin-right: 20px;
    display: none;
}

.page-member .uncheck {
    background-color: white;
}
@keyframes select_Input_Search {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes unselect_Input_Search {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}


/*  */

.page-member > .head-member > .setting-post {
    display: flex;
    /* justify-content: space-between; */
    margin: 30px 0;
}

.page-member > .head-member > .setting-post > .item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.page-member > .head-member > .setting-post > .item > label {
    font-size: 20px;
    color: #555;
    margin-right: 40px;
}

.page-member > .setting-post > .item > .select-type-post > label {
    font-size: 16px;
    cursor: pointer;
    padding: 5px 15px;
    color: #777;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.page-member > .head-member > .setting-post > .item > select {
    outline: 0;
    font-size: 18px;
    color: #555;
    padding: 5px 15px;
    border: 1px solid #777;
    cursor: pointer;
}

.page-member > .head-member > .setting-post > .item > button:hover {
    background-color: #f56e30;
}

.page-member > .head-member > .setting-post > .find {
    cursor: pointer;
    outline: 0;
    /* color: #00838f; */
    border: 1px solid #777;
    border-radius: 2px;
    text-decoration: none;
    line-height: 35px;
    padding: 0px 10px;
    /* padding-bottom: 5px; */
    height: 34px;
    font-size: 15px;
    margin-left: 20px;
}
.page-member > .head-member > .setting-post > .find:hover{
    background-color: rgb(248, 96, 25);
    color:#fff;
}

/* .member-add > .inp{
    margin-bottom: 40px;
}
.member-add > .inp > label{
    margin-right: 5rem
}
.member-add > .inp > input{
    padding: 5px 12px;
    font-size: 16px;
    outline: 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
    margin-right: 15px;
}
.member-add > .inp > button{
    padding: 6px 15px;
    font-size: 16px;
    outline: 0;
    border: none;
    background-color: #38c733;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}


.member-add > .inp > button:hover
{
    background-color: #45d440;
} */
.member-add > .inp{
    margin-bottom: 40px;
}
.member-add > table{
    /* margin: 20px; */
    padding-left: 3rem;
    border-spacing: 1.5rem;
}
.member-add > .inp  label{
    /* margin-right: 5rem */
}
.member-add > table > .gender-radio{
    /* margin: 20px; */
    /* padding-left: 3rem; */
    /* border-spacing: 1.5rem; */
}
.member-add > .inp  input{
    padding: 5px 12px;
    font-size: 16px;
    outline: 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
    margin-right: 15px;
}
.member-add > .inp  .gender-radio > input{
    width: 2rem;
}
.member-add > .inp select{
    outline: 0;
    font-size: 18px;
    color: #555;
    padding: 5px 15px;
    border: 1px solid #777;
    cursor: pointer;
}
.member-add >  .btn{
    padding: 6px 15px;
    margin-left: 70px;
}
.member-add >  .btn > #btn-add,#btn-add-more{
    padding: 6px 15px;
    margin: 0 30px;
    font-size: 16px;
    outline: 0;
    border: none;
    background-color: #38c733;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}



.member-add >  .btn > #btn-add:hover,#btn-add-more:hover
{
    background-color: #45d440;
} 