* {
    margin: 0;
    padding: 0;
}

/* start tạo khối */

.body > .row {
    width: 100%;
    box-sizing: border-box;
    padding: 50px 7% 60px 7%;
}

/* end khối */

/* start Tiêu đề các khối */

.body > .row > .title {
    text-align: center;
    font-weight: 600;
    padding: 20px;
    color: #223771;
    font-size: 30px;
    text-transform: uppercase;
}

/* end tiêu đề */

/* Start 2 line bên dưới tiêu đề */

.body > .row > .title::before {
    background-color: #e94b00;
    content: " ";
    width: 60px;
    height: 2px;
    display: block;
    margin: 0 auto;
    margin-top: 45px;
    position: absolute;
    left: 46.5%;
    right: 46.5%;
}

.body > .row > .title::after {
    background-color: #e94b00;
    content: " ";
    width: 120px;
    height: 2px;
    display: block;
    margin: 20px auto 40px auto;
}

/* End 2 line bên dưới tiêu đề */

/* CSS thông báo */

.notification > .container {
    
}

.notification > .container > .item {
    font-size: 20px;
    color: #444;
    border-bottom: 2px dotted #ccc;
    padding: 15px 0;
}

.notification > .container > .item > i{
    color: #e94b00;
}

/* End CSS Thông báo */

/* CSS sự kiện */

.event {
    
    box-sizing: border-box;
    background-color: #191919;
}

/* Phần tiêu đề */

.event > .title {
    color: white !important;
}

.event > .title::before, .event > .title::after {
    background-color: white !important;
}

/* Phần nội dung */

.event > .container {
    width: 100%;
}

/* Phần slider */

.event > .container > .slider {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.event > .container > .slider .inner {
    padding: 0 5px;
}

.event > .container > .slider .inner > a {
    width: calc(25% - 11.25px);
    flex-shrink: 0;
    margin: 0 5px;
    background-color: white;
    text-decoration: none;
    color: #223771;
}

/* phần ảnh item slider */

.event > .container > .slider .inner > a > .logo-event {
    overflow: hidden;
    position: relative;
    height: auto;
    width: 100%;
}

.event > .container > .slider .inner > a > .logo-event > img {
    width: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all .5s ease;
    opacity: 1;
}

.event > .container > .slider .inner > a > .logo-event > img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0.7;
}

/* phần tiêu đề item */

.event > .container > .slider .inner > a > .title {
    background-color: white;
    font-size: 16px;
    font-weight: 600;
    display: grid;
    color : #333;
    border-left: 4px solid #e94b00;
    padding: 15px;
}

.event > .container > .slider .inner > a:hover > .title {
    color: #777;
}

/* Phần thông tin item */

.event > .container > .slider .inner > a > .title > span:first-child {
    overflow: hidden;
    height: 40px;
}

.event > .container > .slider .inner > a > .title > span:not(:first-child) {
    font-size: 12px;
    color: #777;
    font-weight: 100;
    margin-bottom: 5px;
}

.event > .container > .slider .inner > a:hover > .title > span:not(:first-child) {
    color: #e94b00;
}

.event > .container > .slider .inner > a > .title > span:nth-child(2) {
    margin-top: 7px;
}

.event > .container > .slider .inner > a > .title > span > i {
    color: #e94b00;
}

/* button xem thêm */

.event > .container > .more {
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.event > .container > .more > a {
    padding: 15px 40px;
    text-align: center;
    color: white;
    font-size: 18px;
    background-color: #e94b00;
}

.event > .container > .more > a:hover {
    background-color: #c04004;
}

/* End sự kiện */

/*Start bài đăng*/
.post {
    background-color: rgba(255, 255, 255, 0.034);
    box-sizing: border-box;
}

.post > .container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.post > .container  > .news-item {
    width: calc(50% - 15px);
    box-sizing: border-box;
    margin-bottom: 30px;
    display: flex;
    background-color: rgba(106, 108, 109, 0.1);
}

.post>.container>.news-item>.logo-post {
    width: 200px;
    height: 100%;
    display: inline-block;
}

.post>.container>.news-item>.logo-post img {
    width: 200px;
    height: 100%;
    background-color: #3e3e3e;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
}

.post>.container>.news-item img:hover {
    opacity: 0.7;
}

.post>.container>.news-item>.content {
    padding-left: 5px;
    width: auto;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.post>.container>.news-item>.content>.gc {
    width: 120px;
    height: 2px;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    padding: 1px;
    margin: 10px 0;
}

.post>.container>.news-item>.content>.more {
    font-style: italic;
    font-size: 14px;
    padding: 7px 0;
    height: 28px;
    margin-bottom: 30px;
}

.post>.container>.news-item>.content>.more a {
    color: #808080;
    padding: 7px 15px;
    border: 1px solid #c4c4c4;
}

.post>.container>.news-item>.content>.more a:hover {
    color: orange;
    background-color: rgba(106, 108, 109, 0.1);
}

.post>.container>.news-item>.content p {
    font-size: 13px;
    font-family: Roboto, sans-serif;
    color: #777;
}

.post>.container>.news-item>.content>.content-1 a {
    color: black;
    font-weight: bold;
    padding-bottom: 15px;
    text-decoration: none;
}

.post>.container>.news-item>.content>.content-1 {
    padding-top: 15px;
}

.post>.container>.news-item>.content>.content-2 {
    margin-top: 5px;
    font-size: 12px;
    padding-bottom: 10px;
}

.post>.container>.news-item>.content>.content-2 {
    font-size: 12px;
    color: #777;
    font-weight: 100;
    margin-bottom: 5px;
}

.post>.container>.news-item>.content>.content-2>#at {
    padding-bottom: 10px;
}

.post>.container>.news-item>.content>.content-2 i {
    color: #e94b00;
}

.post>.container>.news-item>.content>.content-2 p:hover {
    color: #e94b00;
}

.post>.xemthem {
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

.post>.xemthem>a {
    padding: 15px 40px;
    text-align: center;
    color: white;
    font-size: 18px;
    background-color: #e94b00;
}
/* phần nút xem thêm */
.post > .container > .more {
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.post > .container > .more > a {
    padding: 15px 40px;
    text-align: center;
    color: white;
    font-size: 18px;
    background-color: #e94b00;
}

.post > .container > .more > a:hover {
    background-color: #c04004;
}
/* end nút xem thêm */
.post>.xemthem>a:hover {
    background-color: #c04004;
}

@media screen and (max-width:1200px) {
    .post>.container {
        grid-template-columns: repeat(1, 1fr);
    }
    .post>.container>.news-item {
        width:100%;
        box-sizing: border-box;
        margin-bottom: 30px;
    }
    .post > .container {
        box-sizing: border-box;
        width: 100%;
        display: flex;
    }
}
@media screen and (max-width:980px) {
    .post>.container>.news-item {
        width:100%;
        box-sizing: border-box;
        margin-bottom: 30px;
    }
    .post > .container {
        box-sizing: border-box;
        width: 100%;
        display: flex;
    }
    
}
@media screen and (max-width:768px) {
    .post>.container>.news-item {
        width:100%;
        box-sizing: border-box;
        margin-bottom: 30px;
        display: flex;
        flex-flow: column;
    }

    .post>.container>.news-item>.logo-post {
        width: 100%;
        max-height: 350px;
        min-height: 350px;
    }

    .post>.container>.news-item>.logo-post  img {
        width: 100%;
    } 
    .post > .container {
        box-sizing: border-box;
        width: 100%;
        display: flex;
    }
    
}

@media screen and (max-width:650px) {

    .post>.container>.news-item>.logo-post {
        width: 100%;
        max-height: 300px;
        min-height: 300px;
    }

    .post>.container>.news-item>.logo-post  img {
        width: 100%;
    }
    
}
 /* end bài đăng   */
 /* start clb */
 :root{
    --orange:#ffa500;
  }
  
  .group{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none; border:none;
    text-decoration: none;
    transition: all .2s linear;
    /* background-color: #191919 */
  }
  
  *::selection{
    background:var(--orange);
    color:#fff;
  }
  
 .group>.container>.clb>.box-container>.box>.content> .xtm{
    display: inline-block;
    margin-top: 1rem;
    background:var(--orange);
    color:#fff;
    padding:.8rem 3rem;
    border:.2rem solid var(--orange);
    cursor: pointer;
    font-size: 1.2rem;
  }
  
  .group>.container>.clb>.box-container>.box>.content>.xtm:hover{
    background:rgba(255, 165, 0,.2);
    color:var(--orange);
  }
  .group>.container> .clb .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
  }
  
  .group>.container>.clb .box-container .box{
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0,0,0,.3);
    border:1rem solid #fff;
    flex:1 1 30rem;
    height: 25rem;
    position: relative;
  }
  
  .group>.container>.clb .box-container .box img{
    height: 100%;
    width:100%;
    object-fit: cover;
  }
  .group>.container>.clb .box-container .box{
      overflow: hidden;
  }
  .group>.container>.clb .box-container .box:hover > img{
    -webkit-transform: scale(1.2);
    transform: scale(1.1);
    opacity: 0.7;
  }
  .group>.container>.clb .box-container .box .content{
    position: absolute;
    top:-100%; left:0;
    height: 100%;
    width:100%;
    text-align: center;
    background:rgba(0,0,0,.7);
    padding:2.5rem;
    padding-top: 5rem;
  }
  
  .group>.container>.clb .box-container .box:hover .content{
    top:0;
  }
  
  .group>.container> .clb .box-container .box .content h3{
    font-size: 2.5rem;
    color:var(--orange);
  }
  
  .group>.container> .clb .box-container .box .content p{
    font-size: 1.3rem;
    color:#eee;
    padding:.5rem 0;
  }
  .group>.container> .clb .box-container .box >p{
    bottom: 18px;
    position:absolute;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-left: 3px solid #fff;
    margin-left: 10px;
    padding-left: 5px;
    }
  /* phần nút xem thêm */
    .group > .container > .more {
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.group> .container > .more > a {
    padding: 15px 40px;
    text-align: center;
    color: white;
    font-size: 18px;
    background-color: #e94b00;
}

.group > .container > .more > a:hover {
    background-color: #c04004;
}
/* end nút xem thêm */

@media (max-width:1190px){
    .group{
      font-size: 50%;
    }
  
  }
  
  @media (max-width:980px){
    .group>section{
      padding:2rem;
    }
  
  }
  
  @media (max-width:768px){
    .group{
        font-size: 50%;
    }
  }
  
 /* end clb */