* {
    margin: 0;
    padding: 0;
}

/* start tạo khối */

.body > .row {
    width: 100%;
    box-sizing: border-box;
    padding: 50px 7% 60px 7%;
}

/* end khối */

/* start Tiêu đề các khối */

.body > .row > .title {
    text-align: center;
    font-weight: 600;
    padding: 20px;
    color: #223771;
    font-size: 30px;
    text-transform: uppercase;
}

/* end tiêu đề */

/* Start 2 line bên dưới tiêu đề */

.body > .row > .title::before {
    background-color: #e94b00;
    content: " ";
    width: 60px;
    height: 2px;
    display: block;
    margin: 0 auto;
    margin-top: 45px;
    position: absolute;
    left: 46.5%;
    right: 46.5%;
}

.body > .row > .title::after {
    background-color: #e94b00;
    content: " ";
    width: 120px;
    height: 2px;
    display: block;
    margin: 20px auto 40px auto;
}

/* End 2 line bên dưới tiêu đề */

/* CSS thông báo */

.notification > .container {
    
}

.notification > .container > .item {
    font-size: 20px;
    color: #444;
    border-bottom: 2px dotted #ccc;
    padding: 15px 0;
}

.notification > .container > .item > i{
    color: #e94b00;
}

/* End CSS Thông báo */

/* CSS sự kiện */

.event {
    box-sizing: border-box;
    background-color: #191919;
}

/* Phần tiêu đề */

.event > .title {
    color: white !important;
}

.event > .title::before, .event > .title::after {
    background-color: white !important;
}

/* Phần nội dung */

.event > .container {
    width: 100%;
}

/* Phần slider */

.event > .container > .slider {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.event > .container > .slider .inner {
    padding: 0 5px;
}

.event > .container > .slider .inner > a {
    width: calc(25% - 11.25px);
    flex-shrink: 0;
    margin: 0 5px;
    background-color: white;
    text-decoration: none;
    color: #223771;
}

/* phần ảnh item slider */

.event > .container > .slider .inner > a > .logo-event {
    overflow: hidden;
    position: relative;
    height: auto;
    width: 100%;
}

.event > .container > .slider .inner > a > .logo-event > img {
    width: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all .5s ease;
    opacity: 1;
}

.event > .container > .slider .inner > a > .logo-event > img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0.7;
}

/* phần tiêu đề item */

.event > .container > .slider .inner > a > .title {
    background-color: white;
    font-size: 16px;
    font-weight: 600;
    display: grid;
    color : #333;
    border-left: 4px solid #e94b00;
    padding: 15px;
}

.event > .container > .slider .inner > a:hover > .title {
    color: #777;
}

/* Phần thông tin item */

.event > .container > .slider .inner > a > .title > span {
    font-size: 12px;
    color: #777;
    font-weight: 100;
    margin-bottom: 5px;
}

.event > .container > .slider .inner > a:hover > .title > span {
    color: #e94b00;
}

.event > .container > .slider .inner > a > .title > span:first-child {
    margin-top: 7px;
}

.event > .container > .slider .inner > a > .title > span > i {
    color: #e94b00;
}

/* button xem thêm */

.event > .container > .more {
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.event > .container > .more > a {
    padding: 15px 40px;
    text-align: center;
    color: white;
    font-size: 18px;
    background-color: #e94b00;
}

.event > .container > .more > a:hover {
    background-color: #c04004;
}

/* End sự kiện */

/* Start bài đăng */
.row > .container > .news-item{
    width: 24%;
    padding: 1%;
    float: left;
}
.row > .container > .news-item > .img img{ 
    width: 100%;
    border-radius: 3px;
}
.img{
    overflow: hidden;
}
.row > .container > .news-item img:hover{
    transform: scale(1.4)
}
.row > .container > .news-item > .content {
    background-color: whitesmoke;
    border-left: 4px solid #e94b00;
    padding-left: 5px;
    
}

.row > .container > .news-item > .content> .button {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}
.row > .container > .news-item > .content p{
    font-style: italic;
    color:#999999
}
.row > .container > .news-item > a{
    color: black;
    font-weight: bold;
    margin: 4px;
    padding: 3px;

}
/* cách lam bằng grid-template-colums .
.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:30px;
}
    /* màn hình lớn
@media screen and (max-width: 1279px) {
    .container{
        grid-template-columns: repeat(3, 1fr);
    }
}
    /* màn hình vừa 
@media screen and (max-width: 1023px) {
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
    /* màn hình bé 
}@media screen and (max-width: 600px) {
    .container{
        grid-template-columns: repeat(1, 1fr);
    }
} */
/* ------------------------------ */
/* cach lam gọn hơn  */
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(293px,1fr));
    grid-gap:36px;
}
/* view port touch device  */
@media screen and (minmax:1023px){
    .container{
        grid-template-columns: unset;
        grid-auto-flow: columns ;
        grid-auto-columns: 70%;
        overflow-x: auto; 
        scroll-snap-stop: always;
    }
   
    .container {
    /* start ẩn thanh scroll */
    -ms-overflow-style: none;
    scrollbar-width: none;
    }
    .container::-webkit-scrollbar {
     display: none;
    };
    /* end  */
    /* start cố định vuốt new góc trái  */
    .container>.news-item{
        scroll-snap-align:start /* center/ end */;
    }
    /* end  */
}
/* end view port touch device  */


