* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Roboto,sans-serif;
}
.post-contain{
    width: 100%;
    padding: 30px 10%;
    display: flex;
}
.post-contain > .content-contain{
    width: 70%;
}
.post-contain > .side-post{
    width: 30%;
    box-sizing: border-box;
    padding-left: 30px;
    flex-shrink: 2;
}

@media only screen and (max-width: 1200px) {
    .post-contain {
        padding: 30px 20px;
    }
}

@media only screen and (max-width: 1100px) {
    .post-contain > .content-contain{
        width: 65%;
    }

    .post-contain > .side-post {
        width: 35%;
    }
}

@media only screen and (max-width: 950px) {
    .post-contain {
        flex-flow: column;
    }

    .post-contain > .content-contain{
        width: 100%;
    }

    .post-contain > .side-post {
        margin-top: 30px;
        width: 100%;
        padding-left: 0;
    }
}

.post-contain > .content-contain .title{
    font-size: 24px;
    margin-bottom: 30px;
    /* padding-left: 15px; */
    padding-bottom: 15px;
    border-bottom: 3px solid #E6E6E6;
    font-weight: bolder;
}
.post-contain > .content-contain > img{
    width: 100%;
    object-fit: fill;
}
.post-contain > .content-contain > .post-content > .post-title {
    padding-left: 15px;
    margin-bottom: 20px;
    border-left: 3px solid #E94B00;
    margin-top: 25px;
}

.post-contain > .content-contain > .post-content > .post-title > .post-title-date {
    font-size: 14px;
    color: #e94b00;
}

.post-contain > .content-contain > .post-content{
    padding: 0 20px;
    background: #eee;
    margin-top: -17px;
    padding-top: 15px;
    padding-bottom: 30px;
}

.post-contain > .content-contain > .post-content li{
    padding: 0 10px 0 0px;
    /* background: #eee; */
    margin-top: -4px;
    padding-top: 15px;
    margin-left: 70px;
}

.post-contain > .content-contain > .post-content .date-event {
    padding: 15px;
}

.post-contain > .content-contain > .post-content .date-event > i {
    font-size: 22px;
    color: orange;
}

.post-contain > .content-contain > .post-content .date-event > span {
    padding: 7px 15px;
    background-color: #888;
    color: #fff;
    margin-left: 15px;
    border-radius: 5px;
}

.post-contain > .content-contain > .post-content .post-main-content {
    box-sizing: border-box;
    color: #555;

}

.post-contain > .content-contain > .post-content .post-main-content > p{
    padding: 10px 0;
    width: 100%;
    font-size: 15px;
}

.post-contain > .content-contain > .post-content .post-main-content > p strong{
    font-size: 16px;
}

.post-contain > .content-contain > .post-content .post-main-content img {
    width: 100%;
}

.post-contain > .side-post{
    /* width: 300px;     */
}
.post-contain > .side-post > .list{
    margin-bottom: 30px ;
}
.post-contain > .side-post .title{
    font-size: 24px;
    margin-bottom: 20px;
    /* padding-left: 15px; */
    padding-bottom: 15px;
    border-bottom: 3px solid #E6E6E6;
    font-weight: bolder;
    width: 100%;
}
.post-contain > .side-post > .list a{
    text-decoration: none;
    background: #f2f0ee;
    color: #2f2424;
    padding: 10px 15px;
    display: block;
    border-radius: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 7px 0px;
}

.post-contain > .side-post > .list a:hover{
    background-color: #e94b00;
    color: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}
.post-contain > .side-post > .list-item >.list-item-tag .list-item-img{
    display: block;
    width: 100%;
    /* min-height: 82px; */
    transition: all .3s;
    object-fit: cover;
    height: 82px;
    width: 100px;
    overflow: hidden;
    align-items: flex-start;
}
.post-contain > .side-post > .list-item >.list-item-tag .list-item-img img{
    /* width: 100px;
    height: 114px; */
    width: 100%;
    height: 100%;
    min-height: 82px;
    max-width: 82px;
    object-fit: cover;
    
}
.post-contain > .side-post > .list-item >.list-item-tag .list-item-img:hover{
    opacity: .8;
    cursor: pointer;
}
.post-contain > .side-post > .list-item >.list-item-tag{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    height: 102px;
    background-color: #f7f7f7;
}

.post-contain > .side-post > .list-item >.list-item-tag > .side-post-text > .post-title-date {
    font-size: 14px;
    color: #e94b00;
}


.post-contain > .side-post> .list-item  > .list-item-tag .side-post-text > h4 {
    max-height: 59px;
    overflow: hidden;
}

.post-contain > .side-post> .list-item  > .list-item-tag .side-post-text a{
    text-decoration: none;
    color: #2f2424;
    font-size: 16px;
}
.post-contain > .side-post> .list-item  > .list-item-tag .side-post-text a:hover {
    color: #555;
}
.post-contain > .side-post> .list-item  > .list-item-tag .side-post-text{
    margin:0 15px;
    flex-shrink: 4;
}
.post-contain > .side-post> .list-item  > .list-item-tag .side-post-text p{
    margin-bottom: 5px;
    font-size: 14px;
}
.post-contain > .side-post> .list-item  > .list-item-tag .side-post-text:hover{
    cursor: pointer;
}
/* register */
.post-contain > .content-contain > .post-content > .register-event{
    background: #eee;
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 30px;
    border-top: 3px solid rgba(0,0,0,.11);
}

.post-contain > .content-contain > .post-content > .register-event h3{
    padding-bottom: 20px;
}

.post-contain > .content-contain > .post-content > .register-event label{
    color: #2f2424;
    padding: 10px 0px;
    padding-bottom: 20px;
    border-radius: 0;
    font-style: normal;
    font-weight: bold;
    line-height: 15px;
    margin-top: 15px;
}

.post-contain > .content-contain > .post-content > .register-event > table {
    width: 100%;
    border-spacing: 0;
}

.post-contain > .content-contain > .post-content > .register-event > table > tbody > tr > td {
    padding: 10px 15px;
    font-size: 16px;
}

.post-contain > .content-contain > .post-content > .register-event > table > tbody > tr:first-child {
    font-weight: 600;
    background-color: #313a46;
    color: white;
    font-size: 18px;
}

.post-contain > .content-contain > .post-content > .register-event > table > tbody > tr:not(:first-child):nth-child(odd) {
    background-color: #f1f3fa;
}

.post-contain > .content-contain > .post-content > .register-event > table > tbody > tr:not(:first-child):nth-child(even) {
    background-color: white;
}

.post-contain > .content-contain > .post-content > .register-event > table > tbody > tr > td > button {
    padding: 7px 15px;
    outline: 0;
    font-size: 16px;
    cursor: pointer;
    background-color: #1db610;
    border: 1px solid transparent;
    color: white;
    border-radius: 5px;
}

.post-contain > .content-contain > .post-content > .register-event > table > tbody > tr > td > button:hover {
    background-color: #3ac92e;
}

.post-contain > .content-contain > .post-content > .register-event > table > tbody > tr > td > button.red {
    background-color: rgb(235, 61, 17);
}

.post-contain > .content-contain > .post-content > .register-event > table > tbody > tr > td > button.red:hover {
    background-color: rgb(241, 96, 59);
}

.system-notification {
    position: fixed;
    right: 0;
    top: 15px;
    display: flex;
    flex-flow: column-reverse;
    z-index: 9999;
    pointer-events: none;
}

.system-notification > .item {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #29dd23;
    margin-bottom: 15px;
    margin-right: 15px;
    color: white;
    opacity: 0;
    animation: system_Notification 4s;
}

@keyframes system_Notification {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}